{% load staticfiles %}
{% include "index/head.html" %}

<!-- 侧边主导航栏-->
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
          <li><a href="http://{{ server }}/">信息概览 <span class="sr-only">(current)</span></a></li>
<!-- 文档导航栏-->
      {% if fil %}
        {% for id, fi in fil.items %}
          <li><a href="http://{{ img_server }}/{{ fi.fi_image }}">{{ fi.fi_name }}</a></li>
        {% endfor %}
      {% endif %}      
          </ul>
          <ul class="nav nav-sidebar">
            <li class="active"><a href="http://{{ server }}/idcinfo">数据中心</a></li>
            <li><a href="http://{{ server }}/hostinfo">主机信息</a></li>
            <li><a href="http://{{ server }}/appinfo">程序信息</a></li>
          </ul>
        </div>

<!-- 主机基础部分-->
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <div class="alert alert-info" role="alert">
        <strong>设备名:{{ dev_name }}---->机柜名称:{{ dev_cabinet }}</strong> 
        </div>

        <!--信息内容展示部分-->
        <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">基础信息</h3>
            </div>
            <div class="panel-body">
              <!--具体表格-->
              <div class="col-md-6">
          <table class="table table-bordered">
            <tbody>
              <tr>
                <td>设备名称</td>
                <td>{{ dev_name }}</td>
              </tr>
              <tr>
                <td>唯一编号</td>
                <td>{{ dev_plant }}</td>
              </tr>
              <tr>
                <td>序列号ID</td>
                <td>{{ dev_sn }}</td>
              </tr>
              <tr>
                <td>机柜位置</td>
                <td>{{ dev_cabinet }}</td>
              </tr>
            </tbody>
          </table>
        </div>
            </div>
          </div>
        <!--信息内容展示结束-->

        <!--信息内容展示部分-->
        <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">业务信息</h3>
            </div>
            <div class="panel-body">
              <!--具体表格-->
              <div class="col-md-6">
          <table class="table table-bordered">
            <tbody>
              <tr>
                <td>维护者</td>
                <td>{{ dev_user }}</td>
              </tr>
              <tr>
                <td>业务标签</td>
                <td>{{ dev_label }}</td>
              </tr>
              <tr>
                <td>操作系统</td>
                <td>{{ dev_sys }}</td>
              </tr>
              <tr>
                <td>设备类型</td>
                <td>{{ dev_types }}</td>
              </tr>
            </tbody>
          </table>
        </div>
            </div>
          </div>
        <!--信息内容展示结束-->
        <!--信息内容展示部分-->
        <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">系统信息</h3>
            </div>
            <div class="panel-body">
              <!--具体表格-->
              <div class="col-md-6">
          <table class="table table-bordered">
            <tbody>
              <tr>
                <td>IP地址1</td>
                <td>{{ dev_ip1 }}</td>
              </tr>
              <tr>
                <td>IP地址2</td>
                <td>{{ dev_ip2 }}</td>
              </tr>
              <tr>
                <td>处理器CPU</td>
                <td>{{ dev_cpu }}</td>
              </tr>
              <tr>
                <td>内存大小</td>
                <td>{{ dev_mem }}</td>
              </tr>
              <tr>
                <td>硬盘大小</td>
                <td>{{ dev_disk }}</td>
              </tr>
              <tr>
                <td>备注信息</td>
                <td>{{ dev_remark }}</td>
              </tr>
            </tbody>
          </table>
        </div>
            </div>
          </div>
        <!--信息内容展示结束-->
        </div>

    </div>
    </div>
    
{% include "index/footer.html" %}