{% load staticfiles %}
{% include "index/head.html" %}

<!-- 左边导航栏部分-->
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="http://{{ server }}/logout">注销</a></li>
            <li><a href="http://{{ server }}/admin">登陆后台</a></li>
          </ul>

        </div>
      </div>
    </nav>

<!-- 侧栏导航部分-->
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
          <li><a href="http://{{ server }}/">信息概览</a></li>
      {% if fil %}
        {% for id, fi in fil.items %}
          <li><a href="http://{{ server }}/{{ fi.fi_image }}">{{ fi.fi_name }}</a></li>
        {% endfor %}
      {% endif %}      
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="http://{{ server }}/idcinfo">数据中心</a></li>
            <li class="active"><a href="http://{{ server }}/hostinfo">主机信息</a></li>
            <li><a href="http://{{ server }}/appinfo">程序信息</a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h4 class="sub-header">主机信息</h4>
          <div class="table-responsive">
            <table class="table table-striped">
            <thead>
                <tr>
                  <th>编号</th>
                  <th>主机名</th>
                  <th>IP地址</th>
                  <th>OS版本</th>
                  <th>CPU</th>
                  <th>系统盘</th>
                  <th>内存</th>
                  <th>主机类型</th>
                  <th>放置位置</th>
                  <th>主机状态</th>
                  <th>维护者</th>
                  <!--th>主机ID</th-->
                </tr>
              </thead>
              <tbody>
              {% if lih %}
                {% for id, lh in lih.items %}
                <tr>
                  <td>{{ id }}</td>
                  <td>{{ lh.lh_hostname }}</td>
                  <td>{{ lh.lan_ipaddr }}</td>
                  <td>{{ lh.os_version }}</td>
                  <td>{{ lh.vm_cpu }}</td>
                  <td>{{ lh.vm_disk }}</td>
                  <td>{{ lh.vm_mem }}</td>
                  <td>{{ lh.vm_types }}</td>
                  <td>{{ lh.vm_location }}</td>
                  <td>{{ lh.vm_status }}</td>
                  <td>{{ lh.vm_manage }}</td>
                  <!--td>{{ lh.machine_id }}</td-->
                </tr>
                {% endfor %}
              {% endif %}
            </tbody>
            </table>
<!--分页显示，在视图中引用分页变量，进行判断，默认显示页面没有href链接 -->
            <ul class="pagination">
            {% if lhp %}
              {% for pn in lhp.paginator.page_range %}
                {% ifequal pn lhp.number %}
            <li role="presentation" class="active"><a>{{ pn }}</a></li>
                {% else %}
            <li><a href="?page={{ pn }}">{{ pn }}</a></li>
                {% endifequal %}
              {% endfor %}
            {% endif %}
          </ul>
          </div>
        </div>
      </div>
    </div>
    
{% include "index/footer.html" %}