{% load staticfiles %}
{% include "index/head.html" %}


<!-- 侧栏导航部分-->
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
          <li><a href="http://{{ server }}/index">信息概览</a></li>
      {% if fil %}
        {% for id, fi in fil.items %}
          <li><a href="http://{{ server }}/{{ fi.fi_image }}">{{ fi.fi_name }}</a></li>
        {% endfor %}
      {% endif %}      
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="http://{{ server }}/hostinfo">主机信息</a></li>
            <li class="active"><a href="http://{{ server }}/appinfo">程序信息</a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h4 class="sub-header">程序信息</h4>
          <div class="table-responsive">
            <table class="table table-striped">
            <thead>
                <tr>
                  <th>编号</th>
                  <th>程序名称</th>
                  <th>主机名</th>
                  <th>监听信息</th>
                  <th>程序PID</th>
                  <th>业务标签</th>
                  <th>维护者</th>
                  <th>报警类型</th>
                </tr>
              </thead>
              <tbody>
              {% if lia %}
                {% for id, la in lia.items %}
                <tr>
                  <td>{{ id }}</td>
                  <td>{{ la.app_name }}</td>
                  <td>{{ la.hostname }}</td>
                  <td>{{ la.app_listen }}</td>
                  <td>{{ la.app_pid }}</td>
                  <td>{{ la.app_label }}</td>
                  <td>{{ la.app_manager }}</td>
                  <td>{{ la.app_alarm }}</td>
                </tr>
                {% endfor %}
              {% endif %}
            </tbody>
            </table>
<!--分页显示，在视图中引用分页变量，进行判断，默认显示页面没有href链接 -->
            <ul class="pagination">
            {% if lap %}
              {% for pn in lap.paginator.page_range %}
                {% ifequal pn lhp.number %}
            <li><a>{{ pn }}</a></li>
                {% else %}
            <li><a href="?page={{ pn }}">{{ pn }}</a></li>
                {% endifequal %}
              {% endfor %}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    
{% include "index/footer.html" %}