{% load staticfiles %}
{% include "index/head.html" %}
<!-- 左边导航栏部分-->
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="http://{{ server }}/login">注销</a></li>
            <li><a href="http://{{ server }}/admin">登陆后台</a></li>
          </ul>
          <!--<form class="navbar-form navbar-right"-->
            <!--input type="text" class="form-control" placeholder="Search...未开发"-->
          <!--/form-->
        </div>
      </div>
    </nav>
<!-- 侧边导航栏-->
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
          <li class="active"><a href="#">信息概览 <span class="sr-only">(current)</span></a></li>
      {% if fil %}
        {% for id, fi in fil.items %}
          <li><a href="http://{{ img_server }}/{{ fi.fi_image }}">{{ fi.fi_name }}</a></li>
        {% endfor %}
      {% endif %}      
          </ul>

<!-- 开始子页面导航和具体页面-->
          <ul class="nav nav-sidebar">
            <li><a href="http://{{ server }}/idcinfo">数据中心</a></li>
            <li><a href="http://{{ server }}/hostinfo">主机信息</a></li>
            <li><a href="http://{{ server }}/appinfo">程序信息</a></li>
          </ul>
          <!-----侧边栏示例代码
          <ul class="nav nav-sidebar">
            <li><a href="">Nav item again</a></li>
            <li><a href="">One more nav</a></li>
            <li><a href="">Another nav item</a></li>
          </ul>
          ----->
        </div>

        <!--------------- 仪表盘部分---------------------------------->
        
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

          <h4 class="page-header">IT信息概览</h4>
        <!- 报表饼形图部分 ->
          <div class="row placeholders">
            <div class="col-xs-6 col-sm-3">
              <h5>数据中心</h5>
              <img src="/static/img/datacenter.png" width="251" height="201" class="img-responsive" alt="Generic placeholder thumbnail">
              <span class="text-muted">
        {% if idc_label_count %}
          {% for key, value in idc_label_count.items %}
          <li style="list-style:none;float:left;">{{ key }} <span class="badge">{{ value }}</span></a></li>
          {% endfor %}
        {% endif %}

              </span>
            </div>

            <div class="col-xs-6 col-sm-3">
              <h5>物理设备</h5>
              <img src="/static/img/devicecount.png" width="251" height="201" class="img-responsive" alt="Generic placeholder thumbnail">
              <span class="text-muted">

        {% if dev_label_count %}
          {% for key, value in dev_label_count.items %}
          <li style="list-style:none;float:left;">{{ key }} <span class="badge">{{ value }}</span></a></li>
          {% endfor %}
        {% endif %}

              </span>
            </div>

            <div class="col-xs-6 col-sm-3">
              <h5>主机汇总</h5>
              <img src="/static/img/hostcount.png" width="251" height="201" class="img-responsive" alt="Generic placeholder thumbnail">
              <span class="text-muted">

        {% if host_label_count %}
          {% for key, value in host_label_count.items %}
          <li style="list-style:none;float:left;">{{ key }} <span class="badge">{{ value }}</span></a></li>
          {% endfor %}
        {% endif %}

              </span>
            </div>
          </div>

<!-- 公告栏-- 暂时屏蔽>
    <div class="page-header">
        <h4>信息公告</h4>
      </div>
            {% if bul %}
              {% for id, bl in bul.items %}
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">{{ bl.bl_name }}</h3>
            </div>
              <div class="panel-body">
              <p>{{ bl.bl_remark }}</p>
            </div>
          </div>
              {% endfor %}
            {% endif %}

<!-- 概览统计--> 
    <div class="page-header">
        <h4>项目汇总</h4>
      </div>

    
{% include "index/footer.html" %}