{% load staticfiles %}
{% include "index/head.html" %}
{% load chartkick %}

<!-- 侧边主导航栏-->
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
          <li class="active"><a href="#">信息概览 <span class="sr-only">(current)</span></a></li>
<!-- 文档导航栏-->
      {% if fil %}
        {% for id, fi in fil.items %}
          <li><a href="http://{{ img_server }}/{{ fi.fi_image }}">{{ fi.fi_name }}</a></li>
        {% endfor %}
      {% endif %}      
          </ul>


<!-- 开始子页面导航和具体页面-->
          <ul class="nav nav-sidebar">
            <li><a href="http://{{ server }}/idcinfo">数据中心</a></li>
            <li><a href="http://{{ server }}/hostinfo">主机信息</a></li>
            <li><a href="http://{{ server }}/appinfo">程序信息</a></li>
          </ul>
        </div>

        <!--------------- 仪表盘部分---------------------------------->
        
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h4 class="page-header">IT信息概览</h4>
        <!- 报表饼形图部分 ->
          <div class="row placeholders">
            <div class="col-xs-6 col-sm-3">
              <!-- 采用chartkick模块绘图-->
              {% pie_chart idc_label_count with height="200px" %}
              <h5><span class="label label-info">数据中心:{{ idc_count }}</span></h5>
            </div>

            <div class="col-xs-6 col-sm-3">
              {% pie_chart dev_label_count with height="200px" %}
              <h5><span class="label label-info">物理设备:{{ dev_count }}</span></h5>
            </div>

            <div class="col-xs-6 col-sm-3">
              {% pie_chart host_label_count with height="200px" %}
              <h5><span class="label label-info">主机汇总:{{ host_count }}</span></h5>
            </div>
          </div>
        </div>
<!-- 公告栏-- 暂时屏蔽>
    <div class="page-header">
        <h4>信息公告</h4>
      </div>
            {% if bul %}
              {% for id, bl in bul.items %}
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">{{ bl.bl_name }}</h3>
            </div>
              <div class="panel-body">
              <p>{{ bl.bl_remark }}</p>
            </div>
          </div>
              {% endfor %}
            {% endif %}


<!-- 折线图 --> 
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h4 class="page-header">项目汇总:{{ label_all_count }}</h4>
        {% area_chart data_goals with height="200px" %}
    </div>

<!-- 雷达图--> 
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h4 class="page-header">项目汇总:{{ label_all_count }}</h4>
        {% area_chart data_label with height="600px" %}
    </div>

<!-- 概览统计--> 
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h4 class="page-header">项目汇总:{{ label_all_count }}</h4>
        {% bar_chart data_label with height="600px" %}
    </div>

<!-- chartkick 部分 -->
<!--{% bar_chart data with height="400px" %}-->

{% include "index/footer.html" %}